<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estádios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let estadio of estadios">
      <ion-label>{{estadio.nome}}</ion-label>
      <ion-buttons>
        <ion-button color="primary" (click)="abrirMapa(estadio.endereco)">
          <ion-icon name="map-outline"  slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="primary" [routerLink]="['edicao', estadio.id]">
          <ion-icon name="settings-outline" slot="icon-only"></ion-icon> 
        </ion-button>
        <ion-button color="primary" (click)="confirmarExclusao(estadio)">
          <ion-icon name="trash"  slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
